* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
  }
  header {
    background: white;
    color: #ffd000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: url();
    box-shadow: #ffffff;
    border-color: #ffcc00;
    border-bottom: #ffcc00;
  }

  body {
    background: url('fondo.vendedores.jpg') no-repeat center center;
    background-size: cover;
  } 

.btn-volver {
    text-decoration: none;
    background: #000000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 0 10px #ffa600;
  }
  
  .vendedores {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px 20px;
    flex-wrap: wrap;
    color: #ffffff;
  }
  
  .vendedor {
    background-color: #000000;
    padding: 20px;
    border-radius: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 0 10px #ffa600;
  }
  
  .vendedor img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
  }


.vendedor img {
    width: 150px;
    height: 150px;
    border-radius: 199%;     /* Esto hace que sea redondo */
    object-fit: cover;      /* Pa’ que no se deforme */
    border: 4px solid #ffcc00; /* Marco amarillo */
    box-shadow: 0 0 10px #fff; /* Brillito alrededor */
    margin-bottom: 15px;
  }
  